async-generator
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
deprecation
exceptiongroup
h11
idna
img2pdf
lxml
outcome
packaging
pikepdf
Pillow
pyparsing
PySocks
requests
selenium
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
urllib3
wsproto
